{% extends 'template.html' %}
{% block content %}
    <h3>Dashboard</h3>
    <p>Welcome to your totally private and neat dashboard.</p>
    <div class="form-button">
        <a href="{% url 'logout' %}" class="ibtn">Logout</a>
    </div>
{% endblock %}