{% extends 'template.html' %}
{% block content %}
    <h3>Login to account</h3>
    <p>Access your account by entering your username and password.</p>
    {% if failed %}
    <div class="alert alert-danger" role="alert">
        The entered username/password is not correct. Please try again.
    </div>
    {% endif %}
    <form method="post">
        <input class="form-control" type="text" name="username" placeholder="Username" required>
        <input class="form-control" type="password" name="password" placeholder="Password" required>
        <div class="form-button">
            <button id="submit" type="submit" class="ibtn">Login</button> <a href="#">Forget password?</a>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}