<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Totally Real Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/iofrm-theme16.css' %}">
</head>
<body>
    <div class="form-body without-side">
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="{% static 'images/background.svg' %}" alt="">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>